.counterBottom {
  position: absolute;
  bottom: 5px;
  font-size: 1rem;
  padding: 2px 5px;
  border: 1px solid orange;
  border-radius: 5px;
}

.counterTop {
  font-size: 1rem;
  padding: 2px 5px;
  border: 1px solid orange;
  border-radius: 5px;
  margin: 40px;
}

.endScreen__box {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cat__image {
  max-width: 10vw;
  min-width: 200px;
}
